# Aula IV - Strings no Python

Como vimos durante o pré-work, `strngs` nos permitem represetar textos dentro do Python como uma sequência de carácteres. Hoje vamos nos aprofundar em strings, vendo diferentes usos e aplicações.

## Equivalência de strings

Strings são sequencias de carácteres - devemos tomar cuidado quando avaliamos a igualdade entre dois strings pois algumas alteração podem ser invísiveis na função print.

In [1]:
nome_pintor = 'Mondrian'

In [2]:
print(nome_pintor)

Mondrian

In [3]:
nome_pintora = "Kahlo"

In [4]:
print(nome_pintora)

Kahlo

In [5]:
nome_pintor_2 = 'Mondrian '
print(nome_pintor)
print(nome_pintor_2)

Mondrian
Mondrian

In [6]:
print(nome_pintor == nome_pintor_2)

False

## O newline (\n) e outros carácteres especiais
- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB
- `\` é o caráter para "escaparmos" um caráter (' e a propria \ por exemplo)

In [7]:
pintores_futuristas = "Marinetti\nBoccioni\nBalla"
print(pintores_futuristas)

Marinetti
Boccioni
Balla

In [8]:
pintores_futuristas

'Marinetti\nBoccioni\nBalla'

In [9]:
escada = '1o Degrau\n\t2o Degrau\n\t\t3o Degrau\n\t\t\t4o Degrau'
print(escada)

1o Degrau
	2o Degrau
		3o Degrau
			4o Degrau

In [10]:
escada

'1o Degrau\n\t2o Degrau\n\t\t3o Degrau\n\t\t\t4o Degrau'

In [11]:
duas_barras = '\\ e \\'
print(duas_barras)

\ e \

In [12]:
duas_barras

'\\ e \\'

## Concatenação de Strings
Podemos utilizar o `operador` soma (`+`) para concatenar strings - tomando o cuidado para que os dois objetos *somados* sejam strings de fato!

In [13]:
# Your code here
nm_comp_pintora = 'Frida ' + nome_pintora
print(nm_comp_pintora)

Frida Kahlo

In [14]:
nm_pintores = nome_pintora + ' ' + nome_pintor
print(nm_pintores)

Kahlo Mondrian

Cuidado com tipos não numéricos! Listas podem **conter strings**, mas são **listas**!

In [15]:
print(['Frida'] + nome_pintora)

TypeError: can only concatenate list (not "str") to list

In [16]:
print(['Frida'][0] + nome_pintora)

FridaKahlo

Números não são strings!

In [17]:
print(1 + nome_pintor)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
print('1' + nome_pintor)

1Mondrian

Alguns objetos podem ser convertidos em strings através da função `str()`

In [19]:
x = 1
print(str(x) + nome_pintor)

1Mondrian

In [20]:
lista_y = []
for i in range(1, 10):
    y = str(i) + nome_pintor
    lista_y.append(y)

In [21]:
print(lista_y)

['1Mondrian', '2Mondrian', '3Mondrian', '4Mondrian', '5Mondrian', '6Mondrian', '7Mondrian', '8Mondrian', '9Mondrian']

## Repetição de Strings

Podemos utilizar o `operador` multiplicação (`*`) para criar um string a partir de sua repetição.

In [22]:
print(3 * 'Olá! ')

Olá! Olá! Olá!

In [23]:
print(3 * 'Olá!\n')

Olá!
Olá!
Olá!

Podemos combinar esses dois operadores para simplificar a construção de strings complexos:

In [24]:
print('-' * 100 + '\n' + '\t' * 3 + 'O programa executou com sucesso!\n' + '-' * 100)

----------------------------------------------------------------------------------------------------
			O programa executou com sucesso!
----------------------------------------------------------------------------------------------------

## Multiline strings

Além da declaração através de aspas simples ou duplas (`'` ou `"`) podemos utilizar a notação de 3 aspas simples (`'''`) para declarar strings de múltiplas linhas (sem precisar utilizar `\n`)

In [25]:
pintores_futuristas = "Marinetti\nBoccioni\nBalla"
print(pintores_futuristas)

Marinetti
Boccioni
Balla

In [26]:
pintores_futuristas_2 = '''Marinetti
Boccioni
Balla'''
print(pintores_futuristas_2)

Marinetti
Boccioni
Balla

In [27]:
pintores_futuristas == pintores_futuristas_2

True

In [28]:
pintores_futuristas_3 = '''
Marinetti
Boccioni
Balla
'''
print(pintores_futuristas_3)

Marinetti
Boccioni
Balla

In [29]:
pintores_futuristas == pintores_futuristas_3

False

In [30]:
query = '''
    SELECT
        *
    FROM
        tabela
'''
print(query)

    SELECT
        *
    FROM
        tabela

# Concatenação de listas de strings

Podemos concatenar os strings em uma lista (ou outro iterável qualquer) de strings utilizando o método `.join()` - tomando cuidado para lembrar que este método é um método de strings!

In [31]:
nomes = ['Pedro', 'Teche', 'de Lima']
print(nomes)

['Pedro', 'Teche', 'de Lima']

In [32]:
' '.join(nomes)

'Pedro Teche de Lima'

In [33]:
espaco = ' '
nome_completo = espaco.join(nomes)
print(nome_completo)

Pedro Teche de Lima

In [34]:
print(type(nomes))
print(type(nome_completo))

<class 'list'>
<class 'str'>

In [35]:
print(' '.join(nomes))

Pedro Teche de Lima

O string pelo qual chamamos o método é o **separador** e pode ser qualquer caracter (ou sequência de carácteres).

In [36]:
'@'.join(nomes)

'Pedro@Teche@de Lima'

In [37]:
print('\n'.join(nomes))

Pedro
Teche
de Lima

In [38]:
print('\t'.join(nomes))

Pedro	Teche	de Lima

In [39]:
print('Qualquercoisa'.join(nomes))

PedroQualquercoisaTecheQualquercoisade Lima

## Um exemplo concreto
Como vimos na aula passada, dicionários nos possibilitam guardar informações de uma forma estruturada. Muitas vezes, no entanto, precisamos alterar a estrutura dessa informação: para enviar à um cliente, uma API ou mesmo um algoritmo de ML. Vamos utilizar um pouco do que aprendemos até agora para transformar uma lista de dicionários complexos em uma lista de dicionários simples.

In [40]:
cadastro_clientes = [{'nome' : 'José Antonio', 'endereco' : {'rua' : 'Al. dos Flamboyans', 'numero' : 1637, 'cidade' : 'Pirassununga', 'UF' : 'SP'}},
                     {'nome' : 'Antonio Francisco', 'endereco' : {'rua' : 'Rua das Acacias', 'numero' : 1765, 'cidade' : 'Piracicaba', 'UF' : 'SP'}},
                     {'nome' : 'Francisco João', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 455, 'cidade' : 'Belo Horizonte', 'UF' : 'MG'}},
                     {'nome' : 'João Carlos', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 1826, 'cidade' : 'Belém', 'UF' : 'PA'}}]

In [41]:
print(cadastro_clientes[0])

{'nome': 'José Antonio', 'endereco': {'rua': 'Al. dos Flamboyans', 'numero': 1637, 'cidade': 'Pirassununga', 'UF': 'SP'}}

In [42]:
lista_clientes = []
for cadastro in cadastro_clientes:
    dict_cliente = dict()
    dict_cliente['nome'] = cadastro['nome']
    dict_cliente['endereco'] = f"{cadastro['endereco']['rua']} {str(cadastro['endereco']['numero'])} {cadastro['endereco']['cidade']}-{cadastro['endereco']['UF']}"
    lista_clientes.append(dict_cliente)
print(lista_clientes)

[{'nome': 'José Antonio', 'endereco': 'Al. dos Flamboyans 1637 Pirassununga-SP'}, {'nome': 'Antonio Francisco', 'endereco': 'Rua das Acacias 1765 Piracicaba-SP'}, {'nome': 'Francisco João', 'endereco': 'Rua dos Jequitibas 455 Belo Horizonte-MG'}, {'nome': 'João Carlos', 'endereco': 'Rua dos Jequitibas 1826 Belém-PA'}]

## Comprimento de um string
Como vimos na aula passada, a função `len()` calcula o número de elementos em um iterável. Como strings são iteráveis, podemos calcular o comprimento de um string utilizando essa mesma função!

In [43]:
print(len('Pedro'))

5

In [44]:
print(len('Pedro' + ' Teche'))

11

In [45]:
print(len('Pedro\n'))

6

In [46]:
print(len('''Pedro
'''))

6

## String slicing
Assim como a função `len()`, **slices** também podem ser utilizados em strings! A notação é igual a que aprendemos com lista mas cada elemento de um string é um dos carácteres que o compõe.

In [47]:
print('Adriano'[1:])

driano

In [48]:
nome = 'Adriano'
print(nome[:1] + nome[1:])

Adriano

In [49]:
print(nome[-3:])

ano

In [50]:
print(nome[:-3])

Adri

In [51]:
print(nome[:-3] + nome[-3:])

Adriano

In [52]:
print(nome[4])

a

In [53]:
print(nome[14])

IndexError: string index out of range

## Quebrando um string
Além de converter listas em strings, podemos converter strings em listas de strings. Para tanto utilizamos o método `.split()`.

Este método recebe como argumento o separador que utilizaremos para dividir o string em múltiplos strings.

In [54]:
nome_completo = 'Pedro Teche de Lima'
nome_completo.split(' ')

['Pedro', 'Teche', 'de', 'Lima']

Além disso, podemos passar um segundo argumento especificando o número máximo de quebras que podemos fazer:

In [56]:
'Pedro Teche de Lima 123 de Arroba'.split(' ', 2)

['Pedro', 'Teche', 'de Lima 123 de Arroba']

In [57]:
print('''Pedro
Teche
de Lima'''.split('\n'))

['Pedro', 'Teche', 'de Lima']

Uma outra forma de quebrar strings é transformando-os em listas através da função `list()`: ela transformará um string em uma lista de carácteres!

In [58]:
list('abcdd   as\nc')

['a', 'b', 'c', 'd', 'd', ' ', ' ', ' ', 'a', 's', '\n', 'c']

Por fim, se não passarmos nenhum argumento para o método `.split()` ele dividirá o string a partir dos espaços em branco, equivalente à `.split(" ")`

In [88]:
nome_completo.split()

['Pedro', 'Teche', 'de', 'Lima']

## Outros métodos de strings

Além dos métodos `.join()` e `.split()`, strings possuem outros métodos que nos ajudam a formata-los e altera-los.

### Maiusculização
Métodos para alterar a forma das letras - uma etapa crítica quando queremos comparar strings, já que `"A" != "a"`!!!

In [89]:
nome_errado = 'pEDRO tECHE DE lIMA'

`.capitalize()` converte a primeira letra em maiúscula e o restante em minúscula.

In [90]:
print(nome_errado.capitalize())

Pedro teche de lima

`.upper()` converte todas em maiúsculas.

In [91]:
print(nome_errado.upper())

PEDRO TECHE DE LIMA

`.lower()` converte todas em minúsculas.

In [92]:
print(nome_errado.lower())

pedro teche de lima

`.title()` converte a primeira letra de cada palavra (primeira letra e toda letra que segue um espaço) em maiúsculas e o restante em minúsculas.

In [93]:
print(nome_errado.title())

Pedro Teche De Lima

### Limpeza de Espaços

Além da limpeza de letras maiúsculas, muitas vezes precisamos tratar os espaços em branco presentes em um string. Para isso utilizaremos os métodos `.strip()`, `.lstrip()` e `.rstrip()`.

In [94]:
# Your code here
'     Pedro Teche de Lima           '.strip()

'Pedro Teche de Lima'

O método `.strip()` só limpa espaços no começo e fim do string:

In [95]:
'     Pedro          Teche         de Lima           '.strip()

'Pedro          Teche         de Lima'

In [96]:
' '.join('     Pedro          Teche         de Lima           '.split())

'Pedro Teche de Lima'

In [97]:
'     Pedro Teche de Lima           '.rstrip()

'     Pedro Teche de Lima'

In [98]:
'     Pedro Teche de Lima           '.lstrip()

'Pedro Teche de Lima           '

### Booleanos para começo e fim

Podemos verificar se um string começa/termina com um outro string através dos métodos `.startswith()` e `.endswith()`

In [99]:
# Your code here
'Frida Kahlo'.startswith('Ped')

False

In [100]:
'Frida Kahlo'.startswith('fri')

False

In [101]:
'Frida Kahlo'.startswith('Fri')

True

Podemos construir um encadeamento de funções (nosso primeiro pipeline!) para tratar automaticamente algumas das mazelas presentes em strings antes de avaliar uma condição booleana:

In [102]:
nome = '     Frida Kahlo   '
frida_strip = nome.strip()
frida_strip_lower = frida_strip.lower()
frida_starts = frida_strip_lower.startswith('fri')
print(frida_starts)

True

In [103]:
frida_ends = frida_strip_lower.endswith('kahlo')
print(frida_ends)

True

#### Exemplo Prático I
Recebemos um arquivo com diversas colunas. Queremos contruir uma lista apenas com o nome de apenas algumas colunas desejadas.

In [104]:
# Escolher apenas as colunas da T1
colunas = ['T1_id', ' t1_nome', '    T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 't1_num', 't1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [105]:
colunas_t1 = []
for coluna in colunas:
    if coluna.lower().strip().startswith('t1'):
        colunas_t1.append(coluna)
print(colunas_t1)

['T1_id', ' t1_nome', '    T1_id_fatura', 't1_cd_sku', 'T1_tipo_frete', 'T1_rua', 't1_num', 't1_cep', 'T1_cidade', 'T1_uf', 'T1_vl_frete']

### Operador `in`

Além dos métodos `.startswith()` e `.endswith()` podemos utilizar o operador `in` para verificar se um substring ocorre em qualquer trecho de outro string.

In [106]:
'a' in 'abc'

True

In [107]:
'ab' in 'abc'

True

In [108]:
'ba' in 'abc'

False

#### Exemplo Prático II
Novamente temos uma lista de nomes de coluna que precisamos filtrar a partir da presença de sub-strings no nome. Desta vez utilizaremos o operador `in`.

In [109]:
colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [110]:
colunas_vl_qt = []
for coluna in colunas:
    if 'vl_' in coluna and 'T1' in coluna:
        colunas_vl_qt.append(coluna)
        
print(colunas_vl_qt)

['T1_vl_frete']

### Alterando strings

Por fim temos o método `.replace("DE", "PARA")` que nos permite substituir todas a as ocorrências do sub-string `"DE"` pelo sub-string `"PARA"` em um string. **CUIDADO** o método `.replace()` não altera o string original (strings são imutáveis!) - se quisermos guardar o resultado devemos utilizar uma variável.

In [111]:
lista_compras = '''Pão
Queijo
Tomate'''

print(lista_compras.replace('Tomate', 'Presunto'))

Pão
Queijo
Presunto

In [112]:
novas_compras = lista_compras.replace('Queijo', 'Presunto').replace('Tomate', 'Salame')
print(novas_compras)

Pão
Presunto
Salame

In [113]:
print(novas_compras.replace('\n', '-'))

Pão-Presunto-Salame

## Desafio

Vamos utilizar o que aprendemos até agora para tratar uma (a última!) lista de colunas. Precisamos criar uma nova lista que contenha todas as colunas da tabela **T1** além de todas as colunas de **valor** (reconhecidas pelo substring `vl_`). Além disso precisamos limpar os nomes, guardando apenas strings sem espaços em branco e sem letras maiúsculas.

In [115]:
colunas_erradas = ['T1_id ', ' T1_nome', '  T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                   'T5_vl_custo ', 'T1_tipo_frete ', ' T1_rua ', 'T1_num'  , 'T1_cep ', 'T1_cidade ', 'T1_uf  ',
                   'T1_vl_frete ', '  T2_tp_promo', ' T3_vl_promo', 'T4_vl_sv       ', 'T5_qt_doado  ']
colunas_certas = []

for col in colunas_erradas:
    col = col.lower().strip()

    if "t1" in col or "vl" in col:
        colunas_certas.append(col)

print(colunas_erradas)
print()
print(colunas_certas)

['T1_id ', ' T1_nome', '  T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 'T5_vl_custo ', 'T1_tipo_frete ', ' T1_rua ', 'T1_num', 'T1_cep ', 'T1_cidade ', 'T1_uf  ', 'T1_vl_frete ', '  T2_tp_promo', ' T3_vl_promo', 'T4_vl_sv       ', 'T5_qt_doado  ']

['t1_id', 't1_nome', 't1_id_fatura', 't1_cd_sku', 't4_vl_total', 't5_vl_custo', 't1_tipo_frete', 't1_rua', 't1_num', 't1_cep', 't1_cidade', 't1_uf', 't1_vl_frete', 't3_vl_promo', 't4_vl_sv']